#canvas-wrapper {
}

#popup-label-input {
  width: 162px;
  border: thin ridge rgb(177, 177, 177);
  margin: 5px 7px 8px 7px;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 1px;
}

#c {
  left: 1000px;
}

#app-title {
  user-select: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding-top: 3px;
  padding-bottom: 3px;
  display: none;
  position: absolute;
  background-color: white;
  overflow-y: auto;
  overflow-x: auto;
  border: thin solid grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  max-height: 154px;
}

.dropdown-content div:hover {
  cursor: default;
}

.labelDropdownOption {
  color: black;
  padding-left: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

#popup-label-title {
  font-family: Arial;
  font-size: 17px;
  padding-left: 5px;
  padding-top: 5px;
  user-select: none;
}

#popup-label-options .labelDropdownOption {
  white-space: nowrap;
  padding-left: 2px;
  user-select: none;
  text-decoration: none;
}

.dropdown-content .labelDropdownOption {
  white-space: nowrap;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.show {display: block;}

.labelText {
  white-space: pre;
  font-family: Arial;
  font-size: 15px;
}

.labelText:focus {
  outline:0;
}

.highlightedVisibilityIcon {
  width: 12px;
  padding-top: 3px;
}

.defaultVisibilityIcon {
  width: 10px;
  padding-left: 1px;
}

.defaultLabelEditIcon {
  width: 9px;
}

.highlightedLabelEditIcon {
  width: 11px;
  padding-top: 4px;
}

.highlightedLabelEditTickIcon {
  width: 10px;
}

#popup-label-parent {
  position: absolute;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  z-index: 3;
}

#popup-label-options {
  padding-top: 2px;
  padding-bottom: 2px;
  display: block;
  overflow-x: auto;
  width: 165px;
  overflow-y: auto;
  border: thin ridge rgb(177, 177, 177);
  height: 95px;
  margin-left: 7px;
}

#popup-label-options div:hover {
  cursor: default;
}

#popup-label-buttons {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
  user-select: none;
}

.popup-label-button {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 6px;
  width: 60px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  background-color: rgb(222, 222, 222);
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}

#popup-submit-button {
  margin-right: 3px;
}

#popup-cancel-button {
  margin-left: 3px;
}

#popup-submit-button:hover {
  background-color: #9ed49f !important;
}

#popup-cancel-button:hover {
  background-color: #e2acac;
}

#popup-submit-button:active {
  background-color: #43b543 !important;
}

#popup-cancel-button:active {
  background-color: #d65e5e;
}

#export-labels-popup-parent {
  position: absolute;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  z-index: 3;
  height: 202px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 180px;
}

/* repeating code for the submit buttons */

#export-lables-popup-submit-button {
  margin-right: 3px;
}

#left-side-bar {
  width: 57px;
  padding-top: 9px;
  text-align: center;
  float: left;
  background-color: white;
  height: 100vh;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  border-right: solid;
  border-left: solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
}

#right-side-bar {
  width: 208px;
  padding-top: 8px;
  float: right;
  background-color: white;
  height: calc(100vh - 38px);
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  border-color: rgb(197, 197, 197);
}

#right-side-bar:hover {
  cursor: default;
}

.right-side-bar-component {
  display: block;
  left: 0;
  padding-top: 3px;
}

.right-side-bar-component-title {
  padding-left: 5px;
  border-bottom: solid;
  border-bottom-color: #4e4b4b26;
  border-bottom-width: 1px;
  user-select: none;
}

#labels-list-overflow-parent {
  overflow-x: auto;
  overflow-y: auto;
  height: calc((100vh - 287px) / 2);
  border-bottom: solid;
  border-bottom-color: #4e4b4b26;
  border-bottom-width: 1px;
}

#image-list-overflow-parent {
  overflow-x: auto;
  overflow-y: auto;
  height: calc((100vh + 120px) / 2);
}

#image-list-overflow-parent div:nth-child(odd) {
  border-right: 1px solid #4e4b4b26;
}

#label-list {
  width: 100%;
}

/* update these when changing the left side bar width */

#canvas-wrapper-parent {
  width: calc(100% - 269px);
  height: calc(100% - 60px);
  left: 59px;
}

#zoom-overflow-wrapper-parent {
  width: calc(100% - 270px);
  height: calc(100% - 60px);
  left: 59px;
}

#window-dim {
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: '';
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: linear;
}

.labelListItem {
  padding-left: 4px;
  padding-bottom: 1px;
}

#zoom-overflow {
  overflow: auto;
  z-index: 1;
}

#stub {
  color: rgb(0,0,0,0);
  user-select: none;
  pointer-events: none;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
  width: inherit;
}

#popup-label-options td {
  padding-top: 1px;
  padding-bottom: 1px;
  width: inherit;
}

tr {
  width: inherit;
}

tbody {
  width: inherit;
}

body {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.tools-button {
  background-color: white;
  border-style: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.tools-button:hover {
  background-color: rgb(238, 238, 238);
}

.tools-button:active {
  /* highlight in the color of what the icon is going to be */
  background-color: lightgreen;
}

.tools-button-icon {
  padding-top: 6px;
  width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  user-select: none;
}

/* @media only screen and (max-height: 826px) {
  .tools-button-text {
    font-size: calc(13.3333 * (100vh / 826));
  }
  .tools-button-icon {
    width: calc(40 * (100vh / (906)));
  }
}

@media only screen and (max-height: 522px) {
  .tools-button-text {
    display: none;
  }
  .tools-button-icon {
    width: calc(40 * (100vh / (806)));
  }
} */

.checkbox {
  float: right;
  margin-left: 10px;
  margin-right: 7px;
}

.checkbox-text {
  float: left;
  padding-left: 5px;
}

.settings-table-row-data {
  padding-top: 2px;
  padding-bottom: 2px;
}

#header {
  border: solid;
  /* background-color: white; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-color: #80808026;
}

#settings-table {
  padding: 2px;
}

#imageSwitch {
  border-bottom: solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
  user-select: none;
}

#tools-drawing-section {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: rgb(202, 209, 209);
}

.tools-button-hover-popup {
  margin-left: 62px;
  position: absolute;
  margin-top: -35px;
  background: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: none;
  z-index: 2;
  border-radius: 4px;
  user-select: none;
}

.image-list-thumbnail {
  float: left;
  width: calc(50% - 0.5px);
  height: 60px;
  border-bottom: 1px solid #4e4b4b26;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.image-list-thumbnail-image {
  position: absolute; top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%
}

.image-list-thumbnail-color-overlay {
  position: absolute;
  width: calc(100% - 4px);
  height: 56px;
  border: 2px solid #0dc7ff;
  display: none;
}

.image-list-thumbnail-SVG-tick-icon {
  position: absolute;
  width: 16%;
  height: 45%;
  bottom: 0px;
  right: 0px;
  display: none;
}

.image-list-thumbnail:hover {	
  filter: brightness(80%);	
}
/*

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    filter: brightness(108%);
    -webkit-filter: sepia(90%) hue-rotate(-47deg);

    */
    /*
        border: 3px solid #0dc7ff;
            width: calc(50% - 5.5px);
    */


/*  Using panels 
#canvas-wrapper {
}

#popup-label-input {
  width: 150px;
  border: thin ridge grey;
  margin: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 1px;
}

#c {
  left: 1000px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding-top: 3px;
  padding-bottom: 3px;
  display: none;
  position: absolute;
  background-color: white;
  width: 151px;
  overflow-y: auto;
  overflow-x: auto;
  border: thin solid grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  max-height: 154px;
}

.dropdown-content div:hover {
  cursor: default;
}

.labelDropdownOption {
  color: black;
  padding-left: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

#popup-label-title {
  font-family: Arial;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 3px;
}

#popup-label-options .labelDropdownOption {
  padding-left: 2px;
  user-select: none;
  text-decoration: none;
}

.dropdown-content .labelDropdownOption {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.show {display: block;}

.labelText {
  white-space: pre;
  font-family: Arial;
  font-size: 15px;
}

.labelText:focus {
  outline:0;
}

.highlightedVisibilityIcon {
  width: 12px;
  padding-top: 3px;
}

.defaultVisibilityIcon {
  width: 10px;
  padding-left: 1px;
}

.defaultLabelEditIcon {
  width: 9px;
}

.highlightedLabelEditIcon {
  width: 11px;
  padding-top: 4px;
}

.highlightedLabelEditTickIcon {
  width: 10px;
}

#popup-label-parent {
  position: absolute;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  z-index: 3;
}

#popup-label-options {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
  display: block;
  overflow-x: auto;
  width: 153px;
  overflow-y: auto;
  border: thin ridge grey;
  height: 95px;
  margin-left: 5px;
}

#popup-label-options div:hover {
  cursor: default;
}

#popup-submit-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 4px;
  margin-top: 5px;
}

#left-side-bar {
  width: 57px;
  padding-top: 9px;
  text-align: center;
  float: left;
  background-color: white;
  height: 100vh;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  border-right: solid;
  border-left: solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
}

#right-side-bar {
  width: 208px;
  padding-top: 25px;
  float: right;
  background-color: white;
  height: calc(100vh - 55px);
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  border-color: rgb(197, 197, 197);
}

#right-side-bar:hover {
  cursor: default;
}

.right-side-bar-component {
  display: block;
  left: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding-top: 3px;
}

.right-side-bar-component-title {
  padding-left: 5px;
  border-bottom: solid;
  border-bottom-color: #4e4b4b26;
  border-bottom-width: 1px;
}

#labels-list-component {
  height: calc((100vh - 250px) / 2);
}

#image-list-component {
  border-top-style: solid;
  border-top-color: #4e4b4b26;
  border-top-width: 1px;
  height: calc((100vh + 110px) / 2);
}

#right-side-bar-components {
  border-style: solid;
  margin: 3px;
  margin-left: 3px;
  border-width: 1px;
  border-color: #4e4b4b26;
  border-radius: 3px;
}

#label-list {
  width: 209px;
}

#canvas-wrapper-parent {
  width: calc(100% - 269px);
  height: calc(100% - 60px);
  left: 59px;
}

#zoom-overflow-wrapper-parent {
  width: calc(100% - 270px);
  height: calc(100% - 60px);
  left: 59px;
}

#window-dim {
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: '';
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: linear;
}

.labelListItem {
  padding-bottom: 1px;
}

#zoom-overflow {
  overflow: auto;
  z-index: 1;
}

#stub {
  color: rgb(0,0,0,0);
  user-select: none;
  pointer-events: none;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
  width: inherit;
}

#popup-label-options td {
  padding-top: 1px;
  padding-bottom: 1px;
  width: inherit;
}

tr {
  width: inherit;
}

tbody {
  width: inherit;
}

body {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.tools-button {
  background-color: white;
  border-style: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.tools-button:hover {
  background-color: rgb(238, 238, 238);
}

.tools-button:active {
  background-color: lightgreen;
}

.tools-button-icon {
  padding-top: 6px;
  width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
}

.checkbox {
  float: right;
  margin-left: 10px;
  margin-right: 7px;
}

.checkbox-text {
  float: left;
  padding-left: 5px;
}

.settings-table-row-data {
  padding-top: 2px;
  padding-bottom: 2px;
}

#header {
  border: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-color: #80808026;
}

#settings-table {
  padding: 2px;
}

#imageSwitch {
  border-bottom: solid;
  border-color: rgb(197, 197, 197);
  border-width: 1px;
}

#tools-drawing-section {
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: rgb(202, 209, 209);
}

.tools-button-hover-popup {
  margin-left: 62px;
  position: absolute;
  margin-top: -35px;
  background: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: none;
  z-index: 2;
  border-radius: 4px;
}
*/