#canvas-wrapper {
}

#popup-label-input {
  width: 150px;
  border: thin ridge grey;
  margin: 5px 5px 5px 5px;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 1px;
}

#c {
  left: 1000px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  padding-top: 3px;
  padding-bottom: 3px;
  display: none;
  position: absolute;
  background-color: white;
  width: 151px;
  overflow-y: auto;
  overflow-x: auto;
  border: thin solid grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  max-height: 154px;
}

.dropdown-content div:hover {
  cursor: default;
}

.labelDropdownOption {
  color: black;
  padding-left: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}

#popup-label-title {
  font-family: Arial;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 3px;
}

#popup-label-options .labelDropdownOption {
  padding-left: 2px;
  user-select: none;
  text-decoration: none;
}

.dropdown-content .labelDropdownOption {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  text-decoration: none;
  padding-top: 1px;
  padding-bottom: 1px;
}

.show {display: block;}

.labelText {
  white-space: pre;
  font-family: Arial;
  font-size: 15px;
}

.labelText:focus {
  outline:0;
}

.highlightedVisibilityIcon {
  width: 12px;
  padding-top: 3px;
}

.defaultVisibilityIcon {
  width: 10px;
  padding-left: 1px;
}

.defaultLabelEditIcon {
  width: 9px;
}

.highlightedLabelEditIcon {
  width: 11px;
  padding-top: 4px;
}

.highlightedLabelEditTickIcon {
  width: 10px;
}

#popup-label-parent {
  position: absolute;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  z-index: 3;
}

#popup-label-options {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
  display: block;
  overflow-x: auto;
  width: 153px;
  overflow-y: auto;
  border: thin ridge grey;
  height: 95px;
  margin-left: 5px;
}

#popup-label-options div:hover {
  cursor: default;
}

#popup-submit-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 4px;
  margin-top: 5px;
}

#left-side-bar {
  width: 70px;
  padding-top: 20px;
  text-align: center;
  float: left;
}

#right-side-bar {
  width: 210px;
  padding-top: 20px;
  float: right;
}

#right-side-bar:hover {
  cursor: default;
}

.right-side-bar-component {
  display: block;
  left: 0;
  overflow-x: auto;
  margin-left: 1px;
  overflow-y: auto;
  height: 30vh;
}

.right-side-bar-component-title {
  margin-left: 5px;
}

#label-list {
  width: 209px;
}

#canvas-wrapper-parent {
  width: calc(100% - 280px);
  height: calc(100% - 50px);
  left: 70px;
}

#zoom-overflow-wrapper-parent {
  width: calc(100% - 281px);
  height: calc(100% - 50px);
  left: 70px;
}

#base-div {
  height: 98%;
  z-index: 2;
  pointer-events: none;
  background-color: '';
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: linear;
}

.labelListItem {
  padding-bottom: 1px;
}

#zoom-overflow {
  overflow: auto;
  z-index: 1;
}

#stub {
  color: rgb(0,0,0,0);
  user-select: none;
  pointer-events: none;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
  width: inherit;
}

#popup-label-options td {
  padding-top: 1px;
  padding-bottom: 1px;
  width: inherit;
}

tr {
  width: inherit;
}

tbody {
  width: inherit;
}

body {
  margin-right: 0;
  margin-left: 0;
}

.tools-button {
  background-color: white;
  border-style: none;
  padding: 0;
  outline:none;
}

.tools-button:hover {
  border-style: outset;
}

.tools-button:active {
  background-color: lightgreen;
}

.tools-button-icon {
  padding-top: 2px;
  width: 40px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-top: 3px;
}